.EndScreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: none;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endQuizBtn {
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}