.Quiz {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: none;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
}

h1 {
    color: white;
}

.nxtQstnBtn {
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}